.search-form {
  .div {
    display: flex;
    &:focus-within {
      outline: 2px solid red;
    }
  }

  .input {
    border: none;
    height: 30px;
    padding: 0 5px;
  }

  .button {
    background-color: cadetblue;
    border: none;
    height: 30px;
  }
}
